/* reset and normalize */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* styling the page */

:root {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 5fr;
    grid-template-areas: "nav header"
        "nav main";

}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    background: white;
    padding: 1rem 2rem;
    column-gap: 1rem;
    row-gap: 1.5rem;
    grid-template-areas: "form . user-info"
        "greetings user-actions user-actions";
}

nav {
    grid-area: nav;
    background-color: rgba(43, 43, 165, 0.973);
    padding: 1rem;
}

main {
    grid-area: main;
    background-color: grey;
    padding: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-user-info {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 2rem;
    justify-items: end;
    grid-area: user-info;
    font-weight: bold;
    font-size: 1.5rem;
}

.header-greetings {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-area: greetings;
    font-weight: bold;
    align-items: center;
    column-gap: 1rem;

}

.header-user-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-area: user-actions;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: auto 3fr;
    gap: 0.5rem;
    align-items: center;

}

.header-user-actions button {
    padding: 0.5rem;
    border-radius: 24px;
    width: 13ch;
    font-size: 0.9rem;
    border: 1px solid black;
    background-color: rgb(51, 192, 173);
    color: white;
    outline: none;
}

header img {
    height: 2rem;
}

.header-user-info .avatar {
    height: 3rem;
    width: 3rem;
}

.avatar {
    border-radius: 50%;
    padding: 0.1rem;
}

.avatar.main {
    background: yellow;
}

.header-greetings .avatar {
    height: 5rem;
    width: 5rem;
}

input[type="search"] {
    border: 1px solid black;
    border-radius: 24px;
    background-color: rgb(230, 227, 227);
    outline: none;
    padding: 0.8em;
    font-size: 0.8rem;
}

.header-greetings>div :last-child {
    font-size: 1.5rem;
}


.nav-icon {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
}

nav img {
    height: 2rem;
}

.nav-icon img {
    height: 4rem;
}

.nav-user-action>* {
    display: grid;
    grid-template-columns: auto auto;
}

.nav-user-support>* {
    display: grid;
    grid-template-columns: auto auto;
}

.nav-user-action {
    margin-bottom: 5rem;
}

nav>ul>li {
    display: grid;
    grid-template-columns: span 2;
    column-gap: 1rem;
    justify-content: start;
    margin-bottom: 1rem;

}