/* reset and normalize */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* styling the page */

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "nav header"
        "nav main";
    padding: 2%;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 3rem;
    align-items: start;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.header-greetings {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header-user-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 3fr;

    align-items: baseline;
}

.header-user-actions button {
    padding: 1em;
    border-radius: 15%;
    width: 10ch;
    font-size: 0.9rem;
    border: none;
    background-color: rgb(51, 192, 173);
    color: white;
}